body 
{
    background-color: rgb(230,230,230);
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#back_btn
{
    position: fixed; 
    margin:5px 0px 0px 10px; 
    text-decoration:none; 
    font-weight: bold;
}

#title_btn
{
    position: fixed;
    margin-top: 2px;
    margin-left: 6%;
    font-size: 20px;
    color: #3249e6;
    text-decoration: none;
}

#back_btn:hover
{
    color: red;
}

#wrapper {
    width: 96%;
    margin: 2%;
    border: 2px solid black;
    overflow:hidden;
    max-height: 470px;
    color: black;
    border-radius: 10px;
    background-color: rgb(230,230,230);
}

.columns 
{
    margin: 10px 0px 10px 10px;
    float:left;
    padding: 0px;
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#leftColumn {
     width: 21%;
     height:450px;
     max-height: 450px;
     padding: 0px;
}

#reportTitles_lbl
{
    padding:0px;
    margin:0px;
}

#reportLabels_tbl
{
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    margin-left: 20px;
}

#reportLabels_tbl tr:hover
{
    color: blue;
}

#rightColumn {
    padding: 20px;
    width: 72%;
    height: 346px;
    overflow: auto;
}

#upperColumn
{
    height: 40px;
    width: 75%;
}


#customerColumn
{
    margin: 10px;
}

ul
{
    list-style: none;
    margin: 0px 0px 0px 0px;
    position: absolute;
    padding-left: 20px;
}

ul li
{
    float: left;
    margin-top: 10px;
    width: auto;
    padding:0;
    margin-right: 30px;
    color: blue;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

ul li:hover
{
    cursor: pointer;
}

ul li ul
{
    display:none;
}

ul li ul li
{
    color: blue;
    float: none;
    text-align: left;
    font-size: 15px;
    margin:0;
    padding:0;
    text-decoration: none;
}

ul li:hover ul
{
    display: block;
}

ul li ul li:hover
{
    color: white;
    background: black;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button {  

   opacity: 1;

}

.calendar
{
    color: red;
    margin-right: 20px;
}

