body {
    background-color: rgb(230,230,230);
    margin: 0;
}

#wrapper {
     width: 96%;
     margin: 2%;
     border: 1px solid gray;
     overflow:hidden;
     max-height: 470px;
     color: black;
}
.columns {
    border: 1px solid gray;
    margin: 10px 0px 10px 10px;
    float:left;
    padding: 0px;
    font-size: 20px;
}
#leftColumn {
     width: 21%;
     height:450px;
     max-height: 450px;
}

#rightColumn {
    width: 75%;
    height: 388px;
    overflow: auto;
}

#upperColumn
{
    height: 40px;
    width: 75%;
}

#upperLabels
{
    margin: 5px;
}

.upperLabelsTH
{ 
}

#upperLabels a
{
    text-decoration: none;
    padding-right: 40px;  
    color: blue;
}

#customerColumn
{
    margin: 10px;
}

#timeTable
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#timeTable th
{
    background-color: #4CAF50;
    padding: 5px 5px 5px 5px;
    color: white;
    padding: 8px;
}

#timeTable td, #timeTable th
{
    border: 1px solid black;
}

#timeTable tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#timeTable tr:hover
{
    background-color: #ddd;
}

table tr.active {background: #ccc;}

#timeTable td
{
    padding: 2px 0px 2px 5px;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}


